#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_install:
	install -D -m 755 derakht.sh debian/derakht-cli/usr/bin/derakht
	install -D -m 644 derakht.1 debian/derakht-cli/usr/share/man/man1/derakht.1

override_dh_auto_test:
	@# tests require bats and a shell session; skip during build
